body {
	margin: 30px;
	background: #202025;
	color: #ccc;
	font-family: 'Play', sans-serif;
}

a {
	display: inline-block;
	color: #ccc;
	text-decoration: none;
	padding: 3px;
}
a:hover {
	color: #fff;
}

.title {
	color: #fff;
}

.path {
	margin: 10px 0;
	padding: 16px;
	background-color: #333;
	border-radius: 6px;
	font-weight: bold;
	font-size: 12px;
}

.icon {
	display: inline-block;
		margin: 2px 10px;
}

pre {
	padding: 16px;
	background-color: #333;
	border-radius: 6px;
	overflow: hidden;
	text-wrap: wrap;
}
